:root {
  --primary-color: #0d3b66;
  --secondary-color: #faf0ca;
  --accent-color: #f4815e;
}
.main{
width: 100%;
height: 100vh;

}
*{
  font-family: "Cabin", sans-serif !important;
}
a{
  text-decoration: none;
}
li{
list-style-type: none;
}
/* header menu start */
.container-fluid {
padding: 0 40px;

}
body{
  /* background: #ffcccc33; */
  /* background: #ffcccc1a; */
}
/* cusror animation */

.pos-rel{
position: relative;

}
.cursor {
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.default-cursor {
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);

  z-index: 9999;
  color: var(--primary-color);
}

.cursor-follower {
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
  height: 100vh;
}

.default-cursor-follower {
  width: 36px;
  height: 36px;
  background-color: var(--accent-color);
  opacity: 0.2;
}


header{
  height: 80px;
  padding: 10px;
  /* position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 99; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

header .logo{
width: 80%;
}
header .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
  padding: 0;
}
header .nav-links ul li{
padding: 0 30px;
list-style: none;
}
header .nav-links ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.get-quote{
display: flex;
justify-content: center;
align-items: center;
height: 60px;
gap: 20px;
}

.get-quote a{
color: #333;
letter-spacing: 2px;
font-weight: 600;
font-size: 20px;
}

.icon svg{
width: 20px;
height: 20px;
}








/* slideshow start */




.slide-inner{
  position: relative;
}
.slide-inner::before{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
    
}


.hero-slider {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}



.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{ 
  bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
  height:92vh;
  transition:all .4s ease;
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 690px;
}

.hero-style .slide-title h2 {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition:all .4s ease;
}


.hero-style .slide-text p {
  opacity: 0.8;
  font-family: Rajdhani;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition:all .4s ease;
}


.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color: #ffffff;
    font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color:#2b3b95;
    padding: 9px 32px;
    border: 0; 
  border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    line-height: initial;
  transition:all .4s ease;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;
}
.theme-btn-s2{
    background-color: rgba(255, 255, 255, 0.9);
    color: #131e4a;
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background-color:#2b3b95 ;
    color: #fff;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}


/* about us start */

.about{
padding: 100px 0;
}
.about .cm-sub-heading h2{ 
font-size: 20px;
color: #D90A2C;
text-align: center;
}

.about .about-content p {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 50px;
  color: #000;
  text-align: center;
}

.image-in-span{
width: 130px;
}
.about-proposals{
margin-top: 100px;
}
.about-proposals .pr-box {
  text-align: center;
}

.about-proposals .nk-10{
margin: 20px 0;
display: block;
}
.about-proposals .pr-box .pr-icons {
  width: 101px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.about-proposals .pr-box .pr-icons span{
  text-align: center;
}
.about-proposals .pr-box .pr-count span{
font-size: 30px;
font-weight: 700; 
color: #333;
-webkit-text-stroke: 1px;
}
.about-proposals .pr-box .pr-name h3{
font-size: 26px;
font-weight: 600;
color: #333;
}
/* services start */
.services{
background: #1C1C1C;
padding: 70px 0;
}
.portfolio{
  padding: 70px 0;
  /* background: #fab1a02b; */
  background: #fab1a03b;
}
.services .h-left h2, .services .h-left h6{
color: #fff;
}
.services .h-left h6, .portfolio .h-left h6{
font-size: 20px;
font-weight: 500;
color: #D90A2C;

}

.services .h-left h2, .portfolio .h-left h2{
  font-size: 43px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 20px;
}
.list-services{
  margin: 40px 0;
  position: sticky;
  top: 100px;
}
.services-list-col {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 40px;
  color: #fff;
  border-bottom: 1px solid #777;
  padding: 45px 0px;
  transition: 0.3s all linear;
  
}
.services-no span, .services-title h2, .servicves-desc p{
  color: #777;
}

.services-no:hover span, .services-title h2, .servicves-desc p{
  color: #777;
}

.services-no span{
  font-size: 25px;
  font-weight: 600;
}

.servicves-desc{
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: left;
}

.services-title{
margin-left: 40px;
width: 220px;
}
.services-title h2{
  font-size: 30px;
  line-height: 40px; 
}

.arrow img{
transform: rotate(-30deg);
opacity: 0.3;
width: 80%;
}
.show-services-ig{
margin-top: 150px;
}

.show-services-ig img{
  border-radius: 20px;
  transform: rotate(10deg);

}

.services-list-col:hover .services-no span,
.services-list-col:hover .services-title h2 {
color: #fff;
transition: 0.3s all linear;

}
.services-list-col:hover .arrow img{
opacity: 1;
transition: 0.3s all linear;
transform: none;
}


/* portfolio start */
  /* work css */
  .work{
    background: #fff7bd78;
    padding:  80px 0;
   }
   .work .cm-left-heading h2{
       font-weight: 600;
       font-size: 70px;
       line-height: 80px;
       color: #000;
       text-transform: uppercase;
   }

  
   .workbox{
     margin: 60px 0 0;
   }

   .workbox .work-showcase .work-screenshot img{
       /* border-radius: 30px; */
       /* padding: 10px; */
       width: 95%;
       object-fit: cover;
       object-position: center;
   }
   .workbox .work-showcase .work-screenshot{
       position: relative;
       /* overflow: hidden; */
   }
   .work-screenshot img{
  position: relative;
  width: 100%;
  opacity: 0;
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .work-screenshot::after{
       content: "";
       position: absolute;
       width: 100%;
       height: 0%;
       top: 0;
       left: 0;
       background: #ffd800;
   }
   .workbox .work-showcase.ws-2, .workbox .work-showcase.ws-4{
       margin-top: 70px;

   }

   .workbox .work-showcase{
       margin-bottom: 30px;
   }
   .workbox .work-showcase .work-description{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 95%;
   margin: 20px 0px;
   }

   .workbox .work-showcase .work-description .work-titile h3{
       font-size: 28px;
text-transform: uppercase;
font-weight: 700;

   }

   .workbox .work-showcase .work-description .work-include span {
    background: #000;
    color: #fff;
    border-radius: 40px;
    padding: 14px 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
}

/* testimonial start */
.testimonials {
  padding: 100px 0 0;
}

.head-center{
text-align: center;
margin-bottom: 40px;
}

.head-center h2{
  font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 20px;
}
.testimonials .mySwiper{
overflow-x: hidden;
}
.mySwiper{
  padding: 88px 0 0;
}
.testimonials .swiper-wrapper{
  background: #D90A2C; 
}
.user-info-desc{
color: #fff;
display: flex;
justify-content: center;
align-items: center;
background: #D90A2C;
height: 100%;
padding: 0 40px;
}
.user-info .user-img{
position: relative;
top: -100px;
display: block;
}
.colon-svg {
  position: absolute;
  top: -93px;
  left: 417px;
  right: auto;
  width: 70px;
  z-index: 9;
}
.user-info .user-img img{
  width: 100%;
margin: 0 auto;
display: block;
}


.testimonials .mySwiper {
  overflow-x: hidden;
  position: relative;
  top: -100px;
}

.nkSwiper{
overflow-x: hidden;
}

.testimonials .swiper-slide{
padding: 20px 100px;
}

.user-name h2, .user-desgn h5{
color: #fff;
}

.nt-10{
  position: relative;
  top: -50px;
}
.testimonials {
  position: relative;
}
.testimonials .swiper-nk-next {
  position: absolute;
  left: 42%;
  right: auto;
  top: 77%;
  background: #fff;
  width: 50px;
  height: 50px;
  background: url(../images/left-arrow-white.png);
  z-index: 99;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
.testimonials .swiper-nk-prev {
  position: absolute;
  left: auto;
  right: 57%;
  top: 77%;
  background: #fff;
  width: 50px;
  height: 50px;
  background: url(../images/left-arrow-white.png);
  z-index: 99;
  background-repeat: no-repeat;
  background-size: cover;
}


.testimonials .swiper-slide.swiper-slide-prev, .testimonials .swiper-slide.swiper-slide-next{
  opacity: 0 !important;
}

.clients .swiper-slide{
border: 1px solid #ddd;
}
.clients .siper-logos img{
  
    width: 50%;
    margin: 0 auto;
    display: block;

}
.clients {
  position: relative;
  top: -100px;
}

.clients .container-fluid {
overflow-x: hidden;
padding: 0;
}
.clients .siper-logos{
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
